<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working with Vue</title>

    <link rel="stylesheet" href="css/main.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <main id="app">
        <h1 @click="clickHeader">{{message}}</h1>
        <!-- This is a custom VUE component - defined in main.js -->
        
        <ul>
            <prof-card v-for="item in collection" :item="item" :key="item.id"></prof-card>
            <!-- <li v-for="item in collection">
                <p>Prof Name: {{ item.name }}, Prof Role: {{ item.role }}</p>
                <a href="" class="remove-prof" @click.prevent="removeProf(item)" :class="{'prof-button-modifier' : removeAformat}">Remove {{ item.name }}</a>
            </li> -->
        </ul>

        <section class="bio-data" :class="{'show-bio' : showBioData}">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, reprehenderit! Mollitia aliquam cumque fugit quasi commodi nisi veniam perferendis, tenetur nobis dolor, excepturi autem, doloribus quod praesentium laudantium error quia?</p>
        </section>
    </main>
    <script src="js/main.js" type="module"></script>
</body>
</html>